.bottomLine {
    width: 100%;
    border-bottom: 1px solid #A9A055;
    margin-top: 0px;
}
.bottomLineDown {
    width: 100%;
    border-bottom: 1px solid #A9A055;
    margin-top: 32px;
}
.marginTop20{
    margin-top: 20px;
}
.textCenter {
    text-align: center;
}
.listColorsAndFont {
    color: #2497AC;
    font-size: 18px;
}
.leftIcon{
    width: 15px;
    float: left;
    margin-right: -20px;
    margin-top: 2px;
}   
.fontSizeColorClass {
    color: #2497AC;
    font-size: 15px;
}
.plusIcon{
    width: 21px;
    float: right;
}
.description{
    font-size: 10px;
    margin-left: 0px;
    color: #2497AC;
    margin-top: 5px;
    margin-right: 10px;
}
.serviceName {
    color: #2497AC;
    margin-left: 0px;
    margin-top: 10px;
}
.oldPrice {
    margin-left: 0;
    font-size: 10px;
    margin-top: 15px;
    color: #2497AC;
}
.newPrice {
    margin-left: 0px;
    color: #2497AC;
    font-size: 26px;
}
.durationTime {
    font-size: 10px;
    margin-left: 15px;
    color: #2497AC;
}
.shareDetailService{
    width: 35px;
    float: right;
}
.numberStars{
    width: 115px;
    float: right;
}
.numberVotes{
    float: right;
    color: #999933;
}
.btn-info {
    background-color: #A9A055;
    border-color: #A9A055;
}
.btn {
    border-radius: 0px;
}
.btn-info:hover {
    background-color: #867D36;
    border-color: #867D36;
}
.listColorsAndFont {
    color: #2497AC;
    font-size: 18px;
}
.lineBackgroundColored {
    background-color: rgba(160, 214, 223, 0.43);
    font-size: 13px;
    font-weight: bold;
}
.lineStyle{
    height: 34px;
    padding-top: 8px;
}
.buttomBackgroundBrown {
    background-color: #A9A055;
}
#subclassName{
    text-transform: uppercase;
}